@model IEnumerable<MVC_EduHub.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEducator.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseEndDate)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseEndDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
                   </tr>
}
    </tbody>
</table>
